*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'eina';
}

@font-face {
    font-family: 'eina';
    src: url('../../fonts/eina.ttf');
}
@font-face {
    font-family: 'eina-bold';
    src: url('../../fonts/Eina-Bold.ttf');
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login{
    margin-top: 65px;
    margin-bottom: 80px;
    width: 800px;
    height: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 7px 10px #000000;
}

.loginimg{
    width: 325px;
    height: 475px;
}

.loginimg img{
    width: 100%;
    height: 100%;
}

.container{
    width: 475px;
    height: 473px;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logintitle{
    margin-top: 30px;
    margin-bottom: 5px;
    width: 520px;
    font-size: 15px;
}

.form-group{
    margin: 0;
}

.inputtitle{
    margin-top: 3px;
    font-size: 10px;
}

.inputbox{
    width: 400px;
    height: 25px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 8px;
}

input::placeholder{
    color: #827B82;
}

input[type]{
    font-size: 10px;
    color: #000000;
    padding-left: 15px;
}

.question{
    margin-top: 5px;
    width: 520px;
    font-family: 'eina';
    font-size: 10px;
    color: black;
}

.question a{
    color: black;
    font-family: 'eina-bold';
    text-align: center;
}

.submitbtn{
    margin-top: 10px;
    background-color: black;
    width: 75px;
    height: 25px;
    border-radius: 8px;
    background: #000000;
    opacity: 0.7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-self: center;
    font-family: 'eina';
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.submitbtn:hover{
    background-color: #000000;
    opacity: 1;
    transition: ease-in 0.5s;
}

.error{
    background-color: #fde8ec;
    border-radius: 3px;
    margin-top: 5px;
    padding-left: 15px;
    display: block;
    width: 400px;
    font-size: 10px;
}

.success{
    margin-top: 7.5px;
    border-radius: 5px;
    color: green;
    background-color: #d2ffd2;
    padding: 10px;
    width: 520px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    display: none;
}

.success.display-success{
    display: block;
}

@media (max-width: 1250px){
    .loginimg{
        transition: all ease-in 0.5s;
        box-shadow: 0px 7px 10px #000000;
    }
    .login{
        scale: 0.8;
        width: 100%;
        height: 100%;
        margin-top: 112px;
        margin-bottom: 0;
        box-shadow: none;
        transition: all ease-in 0.5s;
    }
    .container{
        box-shadow: 0px 7px 10px #000000;
    }
    .success{
        margin-top: 5px;
        scale: 0.8;
    }
}

@media (max-width: 575px){
    .login{
        scale: 0.5;
        margin-bottom: -120px;
        margin-top: 0;
        transition: all ease-in 0.5s;
    }
    .success{
        scale: 0.8;
    }

    .container{
        width: 694px;
        height: 700px;
        transform: translateY(-20%);
    }

    .logintitle{
        width: 520px;
        font-weight: 400;
        font-size: 30px;
    }

    .inputtitle{
        margin-top: 10px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 9px;
    }

    .inputbox{
        width: 625px;
        height: 35px;
        background: #FFFFFF;
        border: 1px solid #000000;
        border-radius: 15px;
        margin-bottom: 25x;
    }

    input::placeholder{
        color: #827B82;
    }

    input[type]{
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        padding-left: 32px;
    }

    .question{
        width: 520px;
        font-family: 'eina';
        font-size: 15px;
        color: black;
    }

    .question a{
        color: black;
        text-align: center;
    }

    .submitbtn{
        margin-top: 15px;
        background-color: black;
        width: 120px;
        height: 40px;
        border-radius: 8px;
        background: #000000;
        opacity: 0.7;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        align-self: center;
        font-family: 'eina';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .error{
        background-color: #fde8ec;
        border-radius: 3px;
        margin-top: 10px;
        padding-left: 15px;
        display: block;
        width: 625px;
        font-size: 15px;
    }
}


