*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'eina';
    color: #FCEAFC;
}

body {
    height: 100vh;
    /* overflow: hidden; */
    background-color: #241B35;
}

@font-face {
    font-family: 'eina';
    src: url('../../fonts/eina.ttf');
}
@font-face {
    font-family: 'eina-bold';
    src: url('../../fonts/Eina-Bold.ttf');
}

.login-container{
    /* max-height: 750px; */
    background-color: #241B35;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.success-message{
    width: 400px;
    font-size: 10px;
    padding: 0;
    margin: 0;
}

.login{
    /* margin-top: 150px; */
    margin-top: 75px;
    margin-bottom: 80px;
    /* padding-top: 20px; */
    width: 800px;
    height: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 7px 10px #000000;
}

.loginimg{
    width: 325px;
    height: 475px;
    box-shadow: 0px 7px 10px #000000;
}

.loginimg img{
    width: 100%;
    height: 100%;
}

.container{
    width: 475px;
    height: 475px;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #4D425F;
}

.logintitle{
    margin-top: 30px;
    margin-bottom: 5px;
    width: 520px;
}

.logintitle h1{
    font-size: 15px;
}

.form-group{
    margin: 0;
}

.inputtitle{
    margin-top: 3px;
    font-size: 10px;
}

.inputbox{
    width: 400px;
    height: 25px;
    background-color: #342A45;
    border: 1px solid #000000;
    border-radius: 8px;
}

input::placeholder{
    color: #827B82;}

input[type]{
    font-size: 10px;
    /* color: #000000; */
    padding-left: 15px;
}

.question{
    margin-top: 5px;
    width: 520px;
    font-family: 'eina';
    font-size: 10px;
    color: #FCEAFC;
}

.question a{
    color: #FCEAFC;
    font-family: 'eina-bold';
    text-align: center;
}

.submitbtn{
    margin-top: 10px;
    width: 75px;
    height: 25px;
    background-color: #6C35DE;
    /* background: #241B35; */
    border-radius: 8px;
    opacity: 0.7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-self: center;
    font-family: 'eina';
    font-size: 10px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.submitbtn:hover{
    background-color: #241B35;
    opacity: 1;
    transition: ease-in 0.5s;
}

.error{
    background-color: #fde8ec;
    border-radius: 3px;
    margin-top: 5px;
    padding-left: 15px;
    display: block;
    width: 400px;
    font-size: 10px;
}

.success{
    margin-top: 7.5px;
    border-radius: 5px;
    color: green;
    background-color: #d2ffd2;
    padding: 10px;
    width: 520px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    display: none;
}

.success.display-success{
    display: block;
}

@media (max-width: 1250px){
    .loginimg{
        transition: all ease-in 0.5s;
        box-shadow: 0px 7px 10px #000000;
    }
    .login{
        scale: 0.8;
        width: 100%;
        height: 100%;
        margin-top: 50px;
        margin-bottom: 0;
        box-shadow: none;
        transition: all ease-in 0.5s;
    }
    .container{
        box-shadow: 0px 7px 10px #000000;
    }
    .success{
        margin-top: 5px;
        scale: 0.8;
    }
}

@media (max-width: 575px){
    .login{
        scale: 0.5;
        margin-bottom: -120px;
        margin-top: 0;
        transition: all ease-in 0.5s;
    }

    .success-message{
        width: 625px;
        font-size: 20px;
        padding: 0;
        margin: 0;
    }

    .container{
        width: 694px;
        height: 700px;
        transform: translateY(-20%);
    }

    .logintitle h1{
        width: 520px;
        font-size: 40px;
    }

    .inputtitle{
        margin-top: 10px;
        font-weight: 400;
        font-size: 23px;
        line-height: 21px;
        margin-bottom: 9px;
    }

    .inputbox{
        width: 625px;
        height: 45px;
        border: 1px solid #000000;
        border-radius: 15px;
        margin-bottom: 25x;
    }


    input[type]{
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        padding-left: 32px;
    }

    .question{
        width: 520px;
        font-family: 'eina';
        font-size: 23px;
    }

    .question a{
        text-align: center;
    }

    .submitbtn{
        margin-top: 15px;
        width: 120px;
        height: 40px;
        border-radius: 8px;
        opacity: 0.7;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        align-self: center;
        font-family: 'eina';
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .error{
        background-color: #fde8ec;
        border-radius: 3px;
        margin-top: 10px;
        padding-left: 25px;
        display: block;
        width: 625px;
        font-size: 23px;
    }
}

@media (max-width: 320px){
    .login{
        scale: 0.4;
    }

    .container{
        width: 694px;
        height: 700px;
        transform: translateY(-20%);
    }

    input[type]{
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        padding-left: 32px;
    }

    .submitbtn{
        margin-top: 15px;
        width: 125px;
        height: 50px;
        border-radius: 8px;
        opacity: 0.7;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        align-self: center;
        font-family: 'eina';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 23px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



