@font-face {
    font-family: 'eina';
    src: url('../fonts/eina.ttf');
}
@font-face {
    font-family: 'eina-bold';
    src: url('../fonts/Eina-Bold.ttf');
}

.container{
    font-family: 'eina';
}

.col-6 h2{
    text-align: center;
}

@media screen and (max-width: 767px) {
    #leftpane {
        order: 2;
        width: 100%;
    }

    .col-6 {
        order: 3;
        width: 100%;
        margin-right: 0;
    }

    .col-3 {
        /* order: 3; */
        /* display: none; */
        flex: 1;
        width: max-content;
    }

    .col-6 #search-bar,
    .col-6 #dialog-form {
        /* order: ; */
    }

    .row .gx-4{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #search{
        order: -1;
        /* width: 100%; */
    }
    .card-body {
        display: none;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {

}










