.pagination-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    color: #FCEAFC;
    margin-top: 20px;
}

.pagination-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    padding: 10px;
}

 .pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    color: white;
    background-color: #4D425F;
    border: 1px solid white;
    border-radius: 10px;
}
.page-item:first-child .page-link{
    border-radius: 10px;
}
.page-item:last-child .page-link{
    border-radius: 10px;
}

.page-link:hover {
    background-color:#6C35DE;
    color: #ffffff;
}

.page-item.active .page-link {
    background-color: #6C35DE;
    color: #ffffff;
    border: 1px solid #ffffff;
}

/* .li.page-item.disabled{
    background-color: aqua;
} */
