/* .pagination-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    color: #FCEAFC;
    margin-top: 20px;
} */

.pagination-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    padding: 10px;
}

.pagination ul {
    display: flex;
    list-style: none;
}

.pagination li {
    margin: 5px;
}

.pagination a {
    text-decoration: none;
    padding: 8px 12px;
    color: #FCEAFC;
    background: #4D425F;
    border-radius: 5px;
    border-color: white;
}

.pagination a:hover {
    background: #4D425F;
    color: #FCEAFC;
}

.page-link{
    background-color: black;
}

.pagination a:active {
    background: #4D425F !important;
    color: #FCEAFC !important;
    text-decoration: none !important;
    outline: none !important;
}

.pagination :hover,
.pagination :focus {
    background: #4D425F !important;
    color:  #FCEAFC !important;
    border-color: white;
}

