body{
    background-color: #241B35;
    width: 100%;
    height: 70vw;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'eina';
    src: url('../fonts/eina.ttf');
}

@font-face {
    font-family: 'eina-bold';
    src: url('../../fonts/Eina-Bold.ttf');
}

.edit-profile{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-box{
    background: #342A45;
    width: 920px;
    height: 820px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
}

.top{
    width: 915px;
    height: 305px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-picture{
    width: 295px;
    height: 295px;
}

.profile-img{
    width: 295px;
    height: 295px;
}

.data-req{
    width: 508px;
    height: 295px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

.input-box{
    margin: 4px;
    width: 490px;
    height: 70px;
    border: none;
    border-radius: 5px;
    background: #4D425F;
}

::placeholder{
    color: #FCEAFC;
    opacity: 0.1;
    font-size: 15px;
    font-family: 'eina';
}

textarea:focus, input:focus {
    color: #4A4A4A;
    font-size: 20px;
    font-size: 'eina';
}

.input-box{
    font-family: 'eina';
    font-size: 20px;
    color: black;
    padding: 10px;
}

.bottom{
    width: 803px;
    height: 520px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-left: 55px;
}

.your-input{
    font-family: 'eina';
    font-size: 20px;
    color: #FCEAFC;
}

.edit-pp{
    width: 758px;
    height: 70px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

input[type=file] {
    width: 758px;
    max-width: 100%;
    color: #FCEAFC;
    padding: 5px;
    background: #4D425F;
    border-radius: 5px;
    border: none;
    font-family: 'eina';
  }

input[type=file]::file-selector-button {
    /* margin-top: 1px; */
    border: none;
    width: 100px;
    height: 30px;
    margin-left: 2px;
    border-radius: 5px;
    font-size: 15px;
    color: #FCEAFC;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    background: #241B35;
}

#input-pp:hover{
    background: #241B35;
}

#editPP::placeholder{
    opacity: 0.1;
}

.input-bio{
    width: 758px;
    height: 300px;
    border: none;
    border-radius: 5px;
    background-color:  #4D425F;
    text-align: start;
}

.button{
    margin-top: 18px;
    width: 165px;
    height: 33px;
    background-color: #6C35DE;
    font-family: 'eina';
    color: white;
    border-radius: 5px;
}

.button a{
    margin-top: 18px;
    width: 165px;
    height: 33px;
    font-family: 'eina';
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.btn{
    font-family: 'eina';
    border-color: white;
}

.delete-box{
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
