@font-face {
    font-family: 'eina';
    src: url('../../fonts/eina.ttf');
}
@font-face {
    font-family: 'eina-bold';
    src: url('../../fonts/Eina-Bold.ttf');
}

body {
    background-color: white;
    border-radius: 10px;
}

.container {
    font-family: "eina";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5vh;
}

.card p{
    font-family: "eina-bold";
}

.upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 75vw;

}

.right-content{
    height: 247.33px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.left-content {
    direction: flex;
    justify-content: center;
}

.card-profile {
    width: 55vw;
    border: none;
    border-radius: 10px;
    background-color: #d9d9d9;
}

.pp-identity{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
}

.profile-picture{
    width: 50vw;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.profile-picture img {
    width: 200px;
    height: auto;
    align-items: center;
}

.identity {
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    width: 50%;
    /* gap: 2px; */
}

.identity button{
    padding: 5px;
    width: 5vw;
    background-color: white;
    color: black;
    border-style:solid;
    border-radius: 5px;
    border-width: 1px;
    font-size: 10px;
    margin-top: 2vh;
    margin-left: -1vw;
}

.stats {
    /* background: #f2f5f8 !important; */
    color: #000 !important;
    margin: 5px;
}

.username{
    font-size: 35px;
    color: black;
    text-decoration: underline;
    width: 20vw;
}

.username-edit{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.username-edit a button:hover{
    background-color: #545454;
    border-color: black;
    transition: all .3s ease-in-out;
}

.email{
    margin-top: -2vh;
    color: #545454;
}

.articles {
    font-size: 20px;
    color: black;
}

.number1 {
    font-size: 20px;
    font-weight: 500;
}

.followers {
    font-size: 20px;
    color: black;
}

.number2 {
    font-size: 20px;
    font-weight: 500;
}

.rating {
    font-size: 20px;
    color: black;
}

.number3 {
    font-size: 20px;
    font-weight: 500;
}

.bio{
    vertical-align: bottom;
    overflow-wrap: break-word;
}

.follow button{
    background-color: #8DD6FF;
    border-color:black;
}

.follow a button:hover{
    background-color: #545454;
    border-color: black;
    transition: all .3s ease-in-out;
}


.name{
    font-size: 20px;
}

#midpane h2 {
    text-align: center;
}
#midpane {
    background-color: #d9d9d9;
}

#postcard {
    background-color: white;
    min-height: 100px;
    width: 500px;
}

.media img {
    width: 40px;
    height: auto;
}

#header {
    display: flex;
    flex-direction: column;
}

.card-footer {
    /* display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: .625rem;
    height: 3.5rem;text-transform: uppercase;
    background-color: #fff; */
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
}

p {
    margin-bottom: 0px;
}

.comments {
    text-align: center;
}
.comments h5 {
    color: #4a4a4a;
}

.dialogs{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    gap: 2vw;
    background-color: #d9d9d9;
    padding: 2vw;
    border-radius: 10px;
    width: 75vw;
    margin-bottom: 5vh;
}

/* #postcard {
    width: 350px;
    min-height: 100px;
    height: auto
  } */

@media screen and (max-width: 767px) {

    .dialogs {
        flex-direction: column; 
        width: 100%;
    }

    .suggested-card {
        display: none;
    }
}

