@font-face {
    font-family: 'eina';
    src: url('../../fonts/eina.ttf');
}
@font-face {
    font-family: 'eina-bold';
    src: url('../../fonts/Eina-Bold.ttf');
}

body {
    background-color: white;
    border-radius: 10px;
}

.container {
    font-family: "eina";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3vh;
}

.card p{
    font-family: "eina-bold";
}

.upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 75vw;

}

.right-content{
    height: 247.33px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.left-content {
    direction: flex;
    justify-content: center;
}

.card-profile {
    width: 850px;
    height: auto;
    border: none;
    border-radius: 10px;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
}

.upper-profile{
    display: flex;
    flex-direction: row;
}

.profile-picture{
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pp-image{
    width: 200px;
    height: 200px;
    align-items: center;
    border-radius: 50%;
    margin-left: -50px;
}

.identity {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    justify-content: center;
}

.identity button{
    padding: 5px;
    width: 5vw;
    background-color: white;
    color: black;
    border-style:solid;
    border-radius: 5px;
    border-width: 1px;
    font-size: 10px;
    margin-top: 2vh;
    margin-left: -1vw;
}


.stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #000 !important;
    gap: 3vw;

}

.details-stats{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.username{
    font-size: 2vw;
    color: black;
    text-decoration: underline;
    width: 20vw;
    margin: 0;
}

.username-edit{
    display: flex;
    flex-direction: row;
}

.username-edit a button:hover{
    background-color: #545454;
    border-color: black;
    transition: all .3s ease-in-out;
}

.email{
    margin-top: -2vh;
    color: #545454;
}

.stats-style{
    font-size: 20px;
    color: black;
}

.name-bio{
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5vw;
}

.bio{
    width: 40vw;
    vertical-align: bottom;
    overflow-wrap: break-word;
    color: #545454;
}

/* .follow button{
    background-color: #8DD6FF;
    border-color:black;
}

.follow a button:hover{
    background-color: #545454;
    border-color: black;
    transition: all .3s ease-in-out;
} */

.foll-button{
    display: flex;
    justify-content: flex-start;
}

/* .follow button{
    background-color: #8DD6FF;
    border-color: black;
    width: 146px;
    height: 43px;
} */

.btn-follow{
    width: 70px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #000;
    background: #8DD6FF;
    font-size: 12px;
    text-align: center;
}

.btn-unfoll{
    width: 70px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #000;
    background: red;
    font-size: 12px;
    text-align: center;
    color: white;
}

.btn-follow:hover{
    background-color: blue;
    color: white;
    border-color: black;
    transition: all .3s ease-in-out;
}
.name{
    font-size: 20px;
}

#midpane h2 {
    text-align: center;
}
#midpane {
    background-color: #d9d9d9;
}

.dialogs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    background-color: #d9d9d9;
    padding: 2vw;
    border-radius: 10px;
    width: 75vw;
    margin-bottom: 5vh;
}

.modal-header .close {
    border: none;
    outline: none;
    box-shadow: none;
}

.percontent{
    display: flex;
    justify-content: space-between;

}

.modal-footer .btn-secondary:focus{
    background-color: #545454;
    border-color: black;
    transition: all .3s ease-in-out;

}
.btn-secondary{
    background-color: #545454;
    border-color: black;
    transition: all .3s ease-in-out;
}

@media screen and (max-width: 767px) {
    .container{
        display: flex;
        align-items: center;
    }

    .dialogs {
        flex-direction: column;
        width: 100%;
    }

    .right-content {
        display: none;
    }

    .profile-picture{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .profile-picture img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-left: 0;
    }

    .card-profile{
        width: 85vw;
        margin-left: -18px;
        height: auto;
    }

    .username-edit{
        display: flex;
        flex-direction: column;
    }

    .username{
        font-size: 18px;
        margin-top: 20px;
    }

    .identity{
        width: 200px;
        height: 100px;
        font-size: 12px;
    }

    .identity button{
        width: 18vw;
        font-size: 8px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 0;
    }

    .stats{
        gap: 7px;
    }

    .stats-style{
        font-size: 12px;
    }


    .name-bio{
        /* margin-left: -40px; */
        margin-top:15px;
        width: 280px;
    }

    .name{
        font-size: 12px;
        width: 275px;
        height: 20px;
        color: #000;
        /* background-color: white;
        opacity: 0.5; */
        margin-bottom: 2px;
    }

    .bio{
        font-size: 12px;
        width: 275px;
        height: auto;
        /* background-color: white; */
        /* opacity: 0.5; */
        margin-bottom: 2px;
    }

    .btn-follow{
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .btn-unfoll{
        margin-top: 4px;
        margin-bottom: 4px;
    }

}

