@font-face {
    font-family: 'eina';
    src: url('../fonts/eina.ttf');
}
@font-face {
    font-family: 'eina-bold';
    src: url(../fonts/Eina-Bold.ttf);
}

.container{
    font-family: 'eina';
}

p{
    color: #FCEAFC;
}

.col-6 h2{
    text-align: center;
}

#midpane h2 {
    text-align: center;
}

#midpane{
    background-color: #4D425F;
}

#postcard{
    background-color: #241B35;
    min-height: 100px;
}

.media img {
    width: 40px;
    height: auto;
}

#header {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #FCEAFC;
}
a:hover {
    color: #FCEAFC;
}
p {
    margin-bottom: 0px;
}

.comments {
    text-align: center;
}
.comments h5 {
    color: #4a4a4a;
}

#formGroupExampleInput{
    background-color: #342A45;
}

.btn-secondary{
    padding-left: 5%;
    padding-right: 5%;
}

#timing{
    display: flex;
}


#midpane{
    background-color: #4D425F;
}

#postcard{
    background-color: #241B35;
}

.card-body{
    color: #FCEAFC;
    overflow-wrap: break-word;
}

#share-btn{
    background-color: #6C35DE;
}

.count-comment{
    color: #FCEAFC;
}

.count-likes{
    color: #FCEAFC;
}

.duration{
    color: #FCEAFC;
}
