@font-face {
    font-family: 'eina';
    src: url('../../fonts/eina.ttf');
}

.navbar{
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.5);
    background-color: #ffffff;
}

nav{
    /* background: #4D425F; */
    font-family: 'eina';
}

.nav-item{
    display: flex;
    align-items: center;
    color: #050505;
}

.navbar-brand{
    color: #050505;
    font-size: 20px;
    font-family: 'eina';
}

.navbar-brand:hover{
    text-shadow: 0 0 20px #fff, 0 0 30px #050505;
    color: #050505;
}

.border-profile{
    box-sizing: content-box;
    width: 90%;
    height: 100%;
    border: #050505 1.5px solid;
    padding: 5px;
    height: 30px;
    background-color: transparent;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.username-nav{
    align-items: center;
    justify-content: center;
}

.nav-link{
    display: flex;
    font-size: 14px;
    color: #707276;
    font-family: 'eina';
}

.nav-link:hover{
    text-shadow: 0 0 20px #fff, 0 0 30px #050505;
    color: #050505;
}

.nav-link:after{
    color: #707276;
}

#navbarNav{
    justify-content: flex-end;
    /* margin-right: 20px; */
    align-content: center;
    gap: 10px;
}

#active {
    color: #050505;
}

.logout{
    cursor: pointer;
    background-color: transparent;
    /* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); */
}

img{
    height: 30px;
    width: 30px;
}

.bi{
    color: #67696D;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.read-more-button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2;
    color: #757575;
    padding: 5px 10px;
    border: 1px solid #757575;
    border-radius: 17px;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 14px;
    margin-top: 5px;
}

.navbar-toggler{
    width: 50px;
    height: 40px;
    border: 1px solid #050505;
    margin-right: 21px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-toggler:focus{
    box-shadow: none;
    box-shadow: 0 0 5px #fff, 0 0 5px #050505;
}

.navbar-toggler-icon{
    color: #050505;
    background-image: none;
}

.line {
    height: 2px;
    width: 25px;
    background-color: #050505; /* Set your desired color */
    margin: 6px 0;
    display: block;
    transition: 0.4s;
}

.navbar-toggler-icon.active .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.navbar-toggler-icon.active .line:nth-child(2) {
    opacity: 0;
}

.navbar-toggler-icon.active .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.logout-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 992px) {
    .logout-text{
        display: none;
    }
}







