.commentfooter{
    display: flex;
    justify-content: space-between;
}

#textcomment{
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: 60%;
    color: #FCEAFC;
}

#timing {
    align-items: end;
}

.time-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.time-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

/* ------------------------------------- */
.modal-header{
    background-color: white;
}

 .modal-body {
     background-color: white;
     color: #050505;
     box-shadow: 0px 0px 6px 0px rgba(222,224,227,1);
 }

 .modal-content {
    color: #050505;
    background-color: white;
    border: none;
    box-shadow: 0px 0px 6px 0px rgba(222,224,227,1);
}

.modal-footer{
    border: none;
}
@media screen and (min-width: 768px) {
}
