.commentfooter{
    display: flex;
    justify-content: space-between;
}

#textcomment{
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: 60%;
    color: #FCEAFC;
}

#timing {
    align-items: end;
}

.time-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.time-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

@media screen and (min-width: 768px) {
}
