#midpane h2 {
    text-align: center;
}
#midpane {
    background-color: #d9d9d9;
}
#postcard {
    background-color: white;
    min-height: 100px;
}

.media img {
    width: 40px;
    height: 40px;
}

#header {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
}
p {
    margin-bottom: 0px;
}

.comments {
    text-align: center;
}
.comments h5 {
    color: #4a4a4a;
}

.card-body h4 {
    word-wrap: break-word;
    word-break: break-all;
}

.card-body p {
    word-wrap: break-word;
    word-break: break-all;
    min-height: 50px;
}

@media screen and (max-width: 767px) {
    #postcard {
        padding: 10px;
    }

    .media img {
        width: 30px;
    }

    .media img {
        width: 35px;
        height: 35px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #postcard {
        padding: 12px;
    }
}
