#leftpane h4{
    margin-bottom: 15px;
}

.form-control::placeholder{
    color: #CFCFCF;
    opacity: 1;
}

.rounded-3{
    background-color: #342A45;
}

.rounded-3 h4{
    color: #FCEAFC;
}

.form-control::placeholder{
    color: #FCEAFC;
    opacity: 1;
}

.form-control{
    background-color: #241B35;
    color: #FCEAFC;
}

.form-control:focus{
    background-color: #241B35;
    color: #FCEAFC;
}

.form-control:focus::placeholder{
    color: #FCEAFC;
    opacity: 1;
}