#midpane h2 {
    text-align: center;
}
#midpane {
    /* background-color: #342A45; */
}

#midpane a, span {
    color: #67696D;
}

hr{
    border: 1px solid #545454;
}

#postcard {
    background-color: white;
    min-height: 100px;
    box-shadow: 0px 0px 6px 0px rgba(222,224,227,1);
}

.media img {
    width: 40px;
    height: 40px;
}

#header {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #050505;
}
a:hover {
    color: #050505;
}

#view-icon{
    color: #67696D;
}

#edit-icon{
    color:#67696D;
}

p {
    margin-bottom: 0px;
}

.comments {
    text-align: center;
}
.comments h5 {
    color: #4a4a4a;
}

.card-body h4 {
    word-wrap: break-word;
    word-break: break-all;
    color: #050505;
}

.card-body p {
    word-wrap: break-word;
    word-break: break-all;
    min-height: 50px;
    color: #050505;
}

.follow-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #039FFC;
    color: #FCEAFC;
    font-size: 14px;
    border-radius: 7px;
    width: 125px;
    height: 35px;
    gap: 5px;
}

.following-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #050505;
    color: white;
    font-size: 14px;
    border-radius: 7px;
    width: 125px;
    height: 35px;
    gap: 5px;
}

/* .modal-content {
    background-color: #342A45;
    color: #FCEAFC;
} */

.more {display: none};

.follow-text{
    color: white;
}

.bi-heart{
    color: #67696D !important;
}

@media screen and (max-width: 767px) {
    #postcard {
        padding: 10px;
    }

    .media img {
        width: 30px;
    }

    .media img {
        width: 35px;
        height: 35px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #postcard {
        padding: 12px;
    }
}

@media only screen and (max-width: 470px){
    .follow-text{
        display: none;
    }
}
