#leftpane h4{
    margin-bottom: 15px;
    color: #050505;
}

.form-control::placeholder{
    color: #CFCFCF;
    opacity: 1;
}

.rounded-3{
    background-color: white;
    box-shadow: 0px 0px 6px 0px rgba(222,224,227,1);

}

.rounded-3 h4{
    color: #050505;
}

.form-control::placeholder{
    color: #67696D;
    opacity: 1;
}

.form-control{
    background-color: #F0F2F5;
    color: #050505;
}

.form-control:focus{
    background-color: #F0F2F5;
    color: #050505;
}

.form-control:focus::placeholder{
    color: #050505;
    opacity: 1;
}
