@font-face {
    font-family: 'eina';
    src: url('../fonts/eina.ttf');
}
@font-face {
    font-family: 'eina-bold';
    src: url('../fonts/Eina-Bold.ttf');
}

#midpane h2 {
    text-align: center;
}
#midpane {
    background-color: #342A45;
}
#postcard {
    background-color: #241B35;
    min-height: 100px;
}

.media img {
    width: 40px;
    height: 40px;
}

#header {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #FCEAFC;
    font-family: 'eina';
}

p {
    margin-bottom: 0px;
}

.container{
    font-family: 'eina';
}

.col-6 h2{
    text-align: center;
}

#titlearea{
    font-family: 'eina';
    resize: none;
    background-color: #4D425F;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    font-size: 1.5em;
    max-width: -webkit-fill-available;
    color: #FCEAFC;
}

#contentarea{
    font-family: 'eina';
    resize: none;
    background-color: #4D425F;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    font-size: 1em;
    max-width: -webkit-fill-available;
    min-width: -webkit-fill-available;
    color: #FCEAFC;
    min-height: 100px;
}

#updatebutton{
    background-color: #6C35DE;
    color: #FCEAFC;
}


#updatebutton::after{
    border: 0;
    border-color: #241B35;
}


.btn-danger{
    background-color: #DA004F;
    border: 0;
}

.card-footer button{
    padding-left: 5%;
    padding-right: 5%;

}

