@font-face {
    font-family: 'eina';
    src: url('../fonts/eina.ttf');
}

body{
    background-color: #F0F2F5;
}
@font-face {
    font-family: 'eina-bold';
    src: url('../fonts/Eina-Bold.ttf');
}

#postcard {
    background-color: white;
    min-height: 100px;
    box-shadow: 0px 0px 6px 0px rgba(222,224,227,1);
}

.col-6{
    margin-top: -16px;
}

.media img {
    width: 40px;
    height: 40px;
}

#header {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #FCEAFC;
    font-family: 'eina';
}

p {
    margin-bottom: 0px;
}

.container{
    font-family: 'eina';
}

.col-6 h2{
    text-align: center;
}

#titlearea{
    font-family: 'eina';
    resize: none;
    background-color: #F0F2F5;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    font-size: 1.5em;
    max-width: -webkit-fill-available;
    color: #67696D;
}

#contentarea{
    font-family: 'eina';
    resize: none;
    background-color: #F0F2F5;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    font-size: 1em;
    max-width: -webkit-fill-available;
    min-width: -webkit-fill-available;
    color: #67696D;
    min-height: 100px;
}

#updatebutton{
    background-color: #039FFC;
    color: white;
    border: none;
}

#updatebutton::after{
    border: 0;
    border-color: #241B35;
}


.btn-danger{
    background-color: #DA004F;
    border: 0;
}

.card-footer button{
    padding-left: 5%;
    padding-right: 5%;

}

.modal-content {
    background-color: #241B35;
    color: white;
}

@media screen and (max-width: 1400px) {
    .pl-2{
        font-size: 0.75rem;
    }

    .suggestedpeople{
        display: flex;
        flex-direction: column;
    }

    .followbutton{
        margin-left: 35px;
    }
}

.more {display: none};

#postcard {
    background-color: #241B35;
    min-height: 100px;
    padding: 10px;
    margin: 10px;
}

@media screen and (max-width: 767px) {
    #postcard {
        padding: 10px;
        margin: 10px;
    }

    .media img {
        width: 30px;
        height: 30px;
    }

    .media img {
        width: 35px;
        height: 35px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #postcard {
        padding: 12px;
        margin: 12px;
    }
}
