#card {
    background-color: #d9d9d9;
}

.form-control:focus {
    box-shadow: none;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

#searchbar {
    background-color: #4D425F;
}

#myInput{
    background-color: #4D425F;
    color: #FCEAFC;
}

#myInput::placeholder{
    color: #FCEAFC;
}

#magnifying {
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  .hide {display: none;}


  .input-group{
    display: flex;
    flex-wrap: nowrap;
  }


