@font-face {
    font-family: 'eina';
    src: url('../../fonts/eina.ttf');
}
@font-face {
    font-family: 'eina-bold';
    src: url('../../fonts/Eina-Bold.ttf');
}

#suggestedtext {
    text-align: center;
    border-radius: 10px;
    height: 30px;
    font-weight: bold;
    color: #4a4a4a;
    font-family: "eina-bold";
    padding-top: 2.5px;
}

.suggestedpeople{
    display: flex;
    justify-content: space-between;
}

.suggestedpeople p{
    color: #4a4a4a;
    font-family: "eina-bold";
}

.suggestedname{
    display: flex
}


