@font-face {
    font-family: 'eina';
    src: url('../../fonts/eina.ttf');
}
@font-face {
    font-family: 'eina-bold';
    src: url('../../fonts/Eina-Bold.ttf');
}

.suggested-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-suggested{
    width: 280px;
    height: 48px;
    border-radius: 10px;
    background-color: #342A45;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FCEAFC;
    font-size: 18px;
}

#suggestedtext {
    text-align: center;
    border-radius: 10px;
    height: 30px;
    font-weight: bold;
    color: #4a4a4a;
    font-family: "eina-bold";
    padding-top: 2.5px;
}

.suggested-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: ;
}

.suggestedpeople{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 265px;
    height: 60px;
    border-radius: 10px;
    margin: 5px;
}

.suggestedprofile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.suggested-img{
    margin-left: 10px;
}

.suggested-username a{
    color: #FCEAFC;
    font-family: "eina-bold";
    font-size: 15px;
    text-align: center;
}

.card.mb-3 p{
    color: #FCEAFC;
}

@media screen and (max-width: 767px) {
    .card.mb-3 {
        max-width: 100%;
    }

    #suggestedtext {
        margin-bottom: 10px;
    }

    .suggestedpeople {
        flex-direction: column;
    }

    .suggestedname {
        margin-bottom: 5px;
    }
}

