@font-face {
    font-family: 'eina';
    src: url('../../fonts/eina.ttf');
}
@font-face {
    font-family: 'eina-bold';
    src: url('../../fonts/Eina-Bold.ttf');
}

#suggestedtext {
    text-align: center;
    border-radius: 10px;
    height: 30px;
    font-weight: bold;
    color: #4a4a4a;
    font-family: "eina-bold";
    padding-top: 2.5px;
}

.suggestedpeople{
    display: flex;
    justify-content: space-between;
}

.suggestedpeople p{
    color: #4a4a4a;
    font-family: "eina-bold";
}

.suggestedname{
    display: flex
}

@media screen and (max-width: 767px) {
    .card.mb-3 {
        max-width: 100%;
    }

    #suggestedtext {
        margin-bottom: 10px;
    }

    .suggestedpeople {
        flex-direction: column;
    }

    .suggestedname {
        margin-bottom: 5px;
    }
}

